@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Familjen+Grotesk&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Darker Grotesque", sans-serif;
  /* font-family: 'Familjen Grotesk', sans-serif; */
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
  letter-spacing: 1px;
}

* {
  transition: all 0.12s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  box-sizing: border-box;
}

.animation_click {
  position: relative;
  transition-duration: 0.1s;
}
.animation_click:after {
  content: "";
  background: inherit;
  position: absolute;
  // padding-top: 300%;
  // padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
  display: block;
  border-radius: 50%;
}

.animation_click:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.css-eglki6-MuiLinearProgress-root {
  background-color: #eff9f4 !important;
}
.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: #7bc4ab !important;
}
