@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&family=Roboto:wght@300&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Darker Grotesque', sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
}

* {
  transition: all .12s cubic-bezier(.17, .67, .83, .67);
  box-sizing: border-box;
}