.page_container {
  background-image: url(https://dl7bo1dy930sf.cloudfront.net/img/quiz/bg-green-icon2.svg);
  background-size: 800px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position-x: 200px;
  background-position-y: 50px;
  padding-bottom: unset;
}

@media (min-width: 1024px) {
  .page_container {
    background-position-x: 520px;
  }
}

.side_bar {
  min-width: 349px;
  max-width: 349px;
  padding-left: 72px;
  padding-right: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 1280px) {
  .side_bar {
    min-width: 500px;
    max-width: 500px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
